@model ssc.Models.MTSselection


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="US1.html">Dashboard</a>
        <span class="breadcrumb-item active">Pending Approval View</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
    <h4 class="tx-gray-800 mg-b-5">Pending Approval View</h4>

</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">

        <div class="form-layout form-layout-1">

            <div class="row mg-b-25">
                <div class="col-lg-4">
                    <div class="form-group">

                        <label class="form-control-label tx-gray-700">Name Of the Post <span class="tx-danger">*</span></label>
                       @Model.post_name
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Pay Matrix (as per 7th CPC): <span class="tx-danger">*</span></label>
                       @Model.pay_matrix

                    </div>
                </div><!-- col-4 -->

                 <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Age Limit : <span class="tx-danger">*</span></label>
                       @Model.age_limit

                    </div>
                </div><!-- col-4 -->
                </div>
                <div class="row mg-b-25">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Classification of Post <span class="tx-danger">*</span></label>
                        @Model.post_classification

                    </div>
                </div>
            </div>

            <div class="row mg-b-25">
                
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Place of initial posting <span class="tx-danger">*</span></label>
                       @Model.initial_post

                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Whether All India Service Liability (AISL) is involved?<span class="tx-danger">*</span></label>
                        @Model.AISL

                    </div>
                </div>
            
                <div class="col-lg-4">
                    <div class="form-group">

                        <label class="form-control-label tx-gray-700">How have the vacancies arisen?<span class="tx-danger">*</span></label>
                          @Model.vacancy_ariesn
                    </div>
                </div>
            </div>
            <div class="row mg-b-25">
            
                
                    <div class="col-lg-8">
                <div class="form-group">
                        <label class="form-control-label tx-gray-700">Whether the post is identified suitable for PwD Candidates  <span class="tx-danger">*</span></label>
                           @Model.identified_post

                </div>
            </div><!-- col-4 -->
            </div>

            <div class="row mg-b-25">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Type of Disability  <span class="tx-danger">*</span></label>
                           @Model.disability_type

                    </div>
                </div><!-- col-4 -->
                 <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Suitable for PwD  <span class="tx-danger">*</span></label>
                          @Model.PWD_suitable

                    </div>
                </div><!-- col-4 -->
                 <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">Permissible disability  <span class="tx-danger">*</span></label>
                          @Model.permissible_disability

                    </div>
                </div><!-- col-4 -->
                </div>
            <div class="row mg-b-25">
            <div class="col-lg-2">
                <div class="form-group">
                        <label class="form-control-label tx-gray-700">Category-wise (Vertical) <span class="tx-danger">*</span></label>


                </div>
            </div><!-- col-4 -->
             <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">UR <span class="tx-danger">*</span></label>
                          @Model.UR

                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">OBC <span class="tx-danger">*</span></label>
                           @Model.OBC

                    </div>
                </div><!-- col-4 -->

                 <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">SC <span class="tx-danger">*</span></label>
                          @Model.SC

                    </div>
                </div><!-- col-4 -->
                 <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">ST <span class="tx-danger">*</span></label>
   @Model.ST
                    </div>
                </div><!-- col-4 -->

                 <div class="col-lg-1">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">EWS <span class="tx-danger">*</span></label>
                          @Model.EWS

                    </div>
                </div><!-- col-4 -->
                   
                 <div class="col-lg-1">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">TOTAL <span class="tx-danger">*</span></label>
                          @Model.TOTAL

                    </div>
                </div><!-- col-4 -->
                </div>


                <div class="row mg-b-25">

                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">VH <span class="tx-danger">*</span></label>
                          @Model.VH

                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">HH <span class="tx-danger">*</span></label>
                           @Model.HH

                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">OH <span class="tx-danger">*</span></label>
                           @Model.OH

                    </div>
                </div><!-- col-4 -->

                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">OTHERS <span class="tx-danger">*</span></label>
                           @Model.OTHERS

                    </div>
                </div><!-- col-4 -->

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700"> Disabilities (PwD) <span class="tx-danger">*</span></label>
                           @Model.Total_vacancy

                    </div>
                </div><!-- col-4 -->
             </div>

            <div class="row mg-b-25">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
            
                             vacancies reserved for ExServiceman (ESM) <span class="tx-danger">*</span>
                        </label>
                           

                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            Number <span class="tx-danger">*</span>
                        </label>
                        @Model.ESM_number

                    </div>
                </div><!-- col-4 -->
                </div>


            <div class="row mg-b-25">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            Period of probation
                            <span class="tx-danger">*</span>
                        </label>
                           @Model.probation_period

                    </div>
                </div><!-- col-4 -->
            

             <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                                          Essential 
                            <span class="tx-danger">*</span>
                        </label> 
                        @Model.Essential

                    </div>
                </div><!-- col-4 -->
            
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            Desirable (Please indicate ‘NIL’)
                            <span class="tx-danger">*</span>
                        </label>
                           @Model.desirable

                    </div>
                </div><!-- col-4 -->
            </div>
            <div class="row mg-b-25">

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label tx-gray-700">
                               Relaxation, if any
                                <span class="tx-danger">*</span>
                            </label> 
                            @Model.relaxation

                    </div>
                </div><!-- col-4 -->
            
                   <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            Age Limits as per Recruitment Rules :-
                            <span class="tx-danger">*</span>
                        </label>
                           @Model.Age_requirment

                    </div>
                </div><!-- col-4 -->
            

              <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label tx-gray-700">
                            Any other requirements
                            
                                <span class="tx-danger">*</span>
                            </label>
                               @Model.other_requirment

                        </div>
                </div><!-- col-4 -->
            </div>
            <div class="row mg-b-25">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            Whether the captioned post(s) 
                            <span class="tx-danger">*</span>
                        </label>
                           @Model.subsequent_oders

                    </div>
                </div><!-- col-4 -->

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label tx-gray-700">
                            Whether a ‘No Objection Certificate’
                            <span class="tx-danger">*</span>
                            </label>
                               @Model.CCS_rules

                    </div>
                </div><!-- col-4 -->


                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                           Whether the number of vacancies reserved 
                        </label>
                           @Model.reserved_vacancies

                    </div>
                </div><!-- col-4 -->
            </div>

            <div class="row mg-b-25">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            whether the vacancies for PwD and ESM 
                            <span class="tx-danger">*</span>
                        </label>
                           @Model.DOPT_refrence

                    </div>
                </div><!-- col-4 -->

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                             ‘The Rights of Persons with Disabilities Act, 2016’ 
                            <span class="tx-danger">*</span>
                            </label>
                               @Model.Persons_disabilities

                                </div>
                    </div><!-- col-4 -->
            

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            Letter No. and date of the Previous requisition 
                            <span class="tx-danger">*</span>
                            </label>
                               @Model.Previous_requisition

                                </div>
                    </div><!-- col-4 -->
                </div>


                <div class="row mg-b-25">

                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                            Letter No. and date by which nomination has been made earlier by SSC
                                <span class="tx-danger">*</span>
                            </label>
                               @Model.candidates_nominated

                                </div>
                </div><!-- col-4 -->
            </div>
         </div>



        <div class="form-layout-footer text-center" "=" ">
            <a href="/US1approval/approval"><button class="btn btn-red">Approved</button></a>
            <a href="/US1_status/Status"><button class="btn btn-red">Rejected</button></a>
            <button class="btn btn-secondary">Cancel</button>
        </div><!-- form-layout-footer --><!-- form-layout -->




</div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
