@model ssc.Models.DeptRegistration


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

      <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="US1.html">Dashboard</a>
          <span class="breadcrumb-item active">Pending Approval View</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
        <h4 class="tx-gray-800 mg-b-5">Pending Approval View</h4>
        
      </div>

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          
          <div class="form-layout form-layout-1">

            <div class="row mg-b-25">
              <div class="col-lg-4">
                <div class="form-group">

                  <label class="form-control-label tx-gray-700">Department: <span class="tx-danger">*</span></label>
                 @Model.Department
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Name: <span class="tx-danger">*</span></label>
				@Model.Name
                  
                </div>
              </div><!-- col-4 -->
			  <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Mobile: <span class="tx-danger">*</span></label>
				 @Model.Mobile_no
                  
                </div>
              </div>
			  <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Email: <span class="tx-danger">*</span></label>
				@Model.Email
                  
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Nodal officer Doc upload: <span class="tx-danger">*</span></label>
				  <a href="#"><img class="Pdficon1" src="~/img/PDF-icon.png" width="10%"></a>
                  @Model.Upload_doc
                </div>
              </div>
             
              
              <!-- col-4 -->
              <div class="col-lg-12">

             <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Remark: <span class="tx-danger"></span></label>
				  <textarea id="w3review" name="w3review" rows="4" cols="150"></textarea>
                                   
                </div>
              </div>
          
              </div>
            </div><!-- row -->

            <div class="form-layout-footer text-center" "="">
                
               <a href="@Url.Action("Approve", "Status", new { id = Model.ID })"><button class="btn btn-red">Approved</button></a>
                  
			   <a href="@Url.Action("Reject", "Status", new { id = Model.ID })"><button  class="btn btn-red">Rejected</button></a>
                    
              <button class="btn btn-secondary">Cancel</button>
            </div><!-- form-layout-footer -->
          </div><!-- form-layout -->

          
          

        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
  
  
