@model List<UserDepartment>;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="US1.html">Dashboard</a>
        <span class="breadcrumb-item active">Pending Approval</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
    <h4 class="tx-gray-800 mg-b-5">Pending Approval</h4>

</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <!-- d-flex -->
        <div class="table-wrapper rounded table-responsive">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                      
                            <th>post_name</th>
                           <th>pay_matrix</th>
                           <th>post_class</th>
                           <th>post_nature</th>
                           <th>initial_place</th>
                               
                            <th>office_department</th>
                                <th>Status</th>
                        <th>Details</th>   



                    </tr>
                </thead>
                <tbody >
                        @{
                        foreach(var item in Model)
                        {
                    <tr>
                   
                         <th scope="row">@item.ID</th>
                            <td>@item.post_name</td>
                           <td>@item.pay_matrix</td>
                           <td>@item.post_class</td>
                           <td>@item.post_nature</td>
                           <td>@item.initial_place</td>
                           
                            <td>@item.office_department</td>
                             <td><strong>
                                        
                                     @if (@item.Status == "1")
                                        {
                                            <span class="text" style="color:green">Approved </span>
                                        }
                                        else if (@item.Status == "2")
                                        {
                                            <span class="text"  style="color:blue">Reject </span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Pending </span>
                                        }

                        </strong></td>
                        <td>
                            <div class="modal-bootstrap modal-login-form">
                             @if (@item.Status == "1")
                                        {
                                            //<a class="zoomInDown mg-t btn btn-red" >View Details</a>
                                            <button class="zoomInDown mg-t btn btn-red" disabled>View Details</button>

                                        }
                                        else if (@item.Status == "2")
                                        {
                                             
                                             <button class="zoomInDown mg-t btn btn-red" disabled>View Details</button>
                                            
                                        }
                                        else
                                        {
                                            <a class="zoomInDown mg-t btn btn-red" href="/US2approval/us2details/@item.ID">View Details</a>
                                          
                                        }

                            </div>
                            <!-- BASIC MODAL -->

                        </td>      



                    </tr>
                    }
                    }
                </tbody>

      </table>
        </div><!-- bd -->




    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
<!-- ########## END: MAIN PANEL ########## -->


<script src="lib/jquery/jquery.js"></script>
<script src="lib/popper.js/popper.js"></script>
<script src="lib/bootstrap.js"></script>
<script src="lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="lib/moment/moment.js"></script>
<script src="lib/jquery-ui/jquery-ui.js"></script>
<script src="lib/jquery-switchbutton/jquery.switchButton.js"></script>
<script src="lib/peity/jquery.peity.js"></script>
<script src="lib/highlightjs/highlight.pack.js"></script>
<script src="lib/jquery.dataTables.js"></script>
<script src="lib/dataTables.responsive.js"></script>
<script src="lib/select2/js/select2.min.js"></script>

<script src="js/bracket.js"></script>
<script>
    $(function(){
      'use strict';

      $('#datatable1').DataTable({
        responsive: true,
        language: {
          searchPlaceholder: 'Search...',
          sSearch: '',
          lengthMenu: '_MENU_ items/page',
        }
      });

      $('#datatable2').DataTable({
        bLengthChange: false,
        searching: false,
        responsive: true
      });

      // Select2
      $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

    });
</script>



<script>
    $(function(){
      'use strict'

      // FOR DEMO ONLY
      // menu collapsed by default during first page load or refresh with screen
      // having a size between 992px and 1299px. This is intended on this page only
      // for better viewing of widgets demo.
      $(window).resize(function(){
        minimizeMenu();
      });

      minimizeMenu();

      function minimizeMenu() {
        if(window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
          // show only the icons and hide left menu label by default
          $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
          $('body').addClass('collapsed-menu');
          $('.show-sub + .br-menu-sub').slideUp();
        } else if(window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
          $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
          $('body').removeClass('collapsed-menu');
          $('.show-sub + .br-menu-sub').slideDown();
        }
      }
    });
</script>
