@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model List<MTSselection>;




@{
    var usertype = @Accessor.HttpContext.Session.GetString("userType").ToString();
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="US1.html">Dashboard</a>
        <span class="breadcrumb-item active">Pending Approval</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
    <h4 class="tx-gray-800 mg-b-5">Pending Approval</h4>

</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <!-- d-flex -->
        @if (@usertype == "3")
        {
            <div class="text-right">
                <a class="zoomInDown  mg-t btn btn-red" style="margin-bottom:10px" href="/MTSselection/index">Add New Post</a>
            </div>
        }
        <div class="table-wrapper rounded table-responsive">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                      
                            <th>post_name</th>
                           <th>pay_matrix</th>
                           <th>age_limit</th>
                           <th>post_classification</th>
                           <th>initial_post</th>
                               
                            <th>candidates_nominated</th>
                                <th>Status</th>
                        <th>Details</th>   



                    </tr>
                </thead>
                <tbody >
                    @{
                        int i = 0;
                        foreach(var item in Model)
                        {
                            i++;
                            <tr>
                   
                         <th scope="row">@i</th>
                            <td>@item.post_name</td>
                           <td>@item.pay_matrix</td>
                           <td>@item.age_limit</td>
                           <td>@item.post_classification</td>
                           <td>@item.initial_post</td>
                           
                            <td>@item.candidates_nominated</td>
 <td><strong>
                                        
                                   @if (@item.Status == "1")
                                        {
                                            <span class="text" style="color:green">Approved </span>
                                        }
                                        else if (@item.Status == "2")
                                        {
                                            <span class="text"  style="color:blue">Reject </span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Pending </span>
                                        }

                        </strong></td>                        <td>
                            <div class="modal-bootstrap modal-login-form">
                                      
                                            <a class="zoomInDown mg-t btn btn-red" href="/US3Mts/us3mtsapproval/@item.ID">View Details</a>
                                          
                                        
                            </div>
                            <!-- BASIC MODAL -->

                        </td>      



                    </tr>
                    }
                    }
                </tbody>

      </table>
        </div><!-- bd -->




    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
<!-- ########## END: MAIN PANEL ########## -->
