@model ssc.Models.UserDepartment


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

      <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="US1.html">Dashboard</a>
          <span class="breadcrumb-item active">Pending Approval View</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
        <h4 class="tx-gray-800 mg-b-5">Pending Approval View</h4>
        
      </div>

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          
          <div class="form-layout form-layout-1">

            <div class="row mg-b-25">
              <div class="col-lg-4">
                <div class="form-group">

                  <label class="form-control-label tx-gray-700">Name Of the Post <span class="tx-danger">*</span></label>
                  @Model.post_name
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Pay Matrix (as per 7th CPC): <span class="tx-danger">*</span></label>
				 @Model.pay_matrix
                  
                </div>
              </div><!-- col-4 -->
			  <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Classification of Post <span class="tx-danger">*</span></label>
				  @Model.post_class
                  
                </div>
              </div>
              </div>

              <div class="row mg-b-25">
              <div class="col-lg-4">
                <div class="form-group">

                  <label class="form-control-label tx-gray-700">Brief description of the job requirements and nature of duties of the post <span class="tx-danger">*</span></label>
                  @Model.post_nature
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Place of initial posting [name of the State(s)]. <span class="tx-danger">*</span></label>
				 @Model.initial_place
                  
                </div>
              </div><!-- col-4 -->
			  <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label tx-gray-700">Whether All India Service Liability (AISL) is involved?<span class="tx-danger">*</span></label>
				  @Model.aisl
                  
                </div>
              </div>
              </div>
                <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group">

                  <label class="form-control-label tx-gray-700">How have the vacancies arisen? (Clearly specify, by promotion/resignation/ death/ retirement etc. in case the vacancy is due to failure to recruit by transfer/deputation, the details thereof may also be indicated)<span class="tx-danger">*</span></label>
                  @Model.vacancy_ariesn
                </div>
                </div>
                </div>
                   

              
            </div><!-- row -->

            <div class="form-layout-footer text-center" "="">
               <a href="/US1approval/approval"><button class="btn btn-red">Approved</button></a>
			   <a href="/US1_status/Status"><button class="btn btn-red">Rejected</button></a>
              <button class="btn btn-secondary">Cancel</button>
            </div><!-- form-layout-footer -->
          </div><!-- form-layout -->

          
          

        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
  
  
