@model ssc.Models.UserDepartment
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Times New Roman', serif;
            height: auto;
        }

        table {
            width: 850px;
            height: auto;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid black;
            height: 35px;
        }

        .tb {
            margin-left: auto;
            margin-right: auto;
        }

        .content {
            width: 900px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 50px;
        }

        .add {
            float: left;
            width: 50%;
            padding: 50px;
            text-align:;
        }

        .add1 {
            float: right;
            width: 50%;
            padding: 50px;
            text-align:;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="tbl">
            <h1 style="text-align:center;"> Requisition Proforma (Selection Posts)</h1>
            <table class="tb">
                <tr>
                    <th rowspan="3" width="35px">1.</th>
                    <td widht="10px">a.</td>
                    <td colspan="3">Name of the Organization/Office</td>
                    <td colspan="8">Nodal offiser</td>
                </tr>
                <tr>
                    <td colspan="1">b.</td>
                    <td colspan="3">Ministry/Department to which attached</td>
                    <td colspan="8">@Model.Ministry/ @Model.dep_name</td>
                </tr>
                <tr>
                    <td colspan="1">c.</td>
                    <td colspan="3">Whether the requistioning authority is authorized by the administrative Ministry/Deptt. to place the requisition with the SSC directly:</td>
                    <td colspan="8" align="center">Yes</td>
                </tr>
                <tr>
                    <th rowspan="5">2.</th>
                    <td rowspan="5" width="90px">Contact details and complete postal address of the Nodal Officer of the organization</td>
                    <td colspan="1">a.</td>
                    <td colspan="2">Name:</td>
                    <td colspan="6">@Model.d_Name</td>

                </tr>
                <tr>
                    <td colspan="1">b.</td>
                    <td colspan="2">Designation:</td>
                    <td colspan="6">@Model.Desigantion</td>
                </tr>
                <tr>
                    <td colspan="1">c.</td>
                    <td colspan="2">Address:</td>
                    <td colspan="6">@Model.Address</td>
                </tr>
                <tr>
                    <td colspan="1">d.</td>
                    <td colspan="2">Telephone No., Mobile No. & Fax No.</td>
                    <td colspan="6">@Model.Mobile_no</td>
                </tr>
                <tr>
                    <td colspan="1">e.</td>
                    <td colspan="2">E-mail:</td>
                    <td colspan="6">@Model.Email</td>
                </tr>
                <tr>
                    <th rowspan="5">3.</th>
                    <td colspan="10">Details of the Post(for which Requisition is being submitted):-</td>
                </tr>
                <tr>

                    <td colspan="1">a.</td>
                    <td colspan="3">Name of the Post:</td>
                    <td colspan="6">@Model.post_name</td>
                </tr>
                <tr>

                    <td colspan="1">b.</td>
                    <td colspan="3">Pay Matrix (as per 7th CPC):</td>
                    <td colspan="6">@Model.pay_matrix</td>
                </tr>
                <tr>
                    <td rowspan="2">c.</td>
                    <td rowspan="2">Classification of Post</td>
                    <td colspan="1">i</td>
                    <td colspan="1">Whether Group 'B' Non-Gazetted; or</td>
                    <td colspan="6">@Model.post_class</td>
                </tr>
                <tr>
                    <td colspan="1">ii</td>
                    <td colspan="1">Group-'C', Non-Technical</td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="1">d.</td>
                    <td colspan="3">Brief description of the job requirements and nature of duties of the post.</td>
                    <td colspan="6">@Model.post_nature</td>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="1">e.</td>
                    <td colspan="3">Place of initial posting [name of the State(s)].</td>
                    <td colspan="6">@Model.initial_place</td>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="1">f.</td>
                    <td colspan="3">Whether All India Service Liability (AISL) is involved?</td>
                    <td colspan="6" align="center">@Model.aisl</td>
                </tr>
                <tr>
                    <th colspan="1">4.</th>
                    <td colspan="4">How have the vacancies arisen?<br />(Clearly specify, by promotion/resignation/death/ retirement etc. in case the vacancy is due to failure to recruit by transfer/deputation, the details thereof may also be indicated)</td>
                    <td colspan="6">@Model.vacancy_ariesn</td>
                </tr>
                <tr>
                    <th rowspan="25">5.</th>
                    <td colspan="10">Break up of vacancies (This may be shown in the vertical and horizontal component as indicated below):-</td>
                </tr>
                <tr>
                    <td rowspan="3">(a)</td>
                    <td colspan="3">Category-wise <b>(Vertical)</b></td>
                    <td colspan="1" align="center">UR</td>
                    <td colspan="1" align="center">OBC</td>
                    <td colspan="1" align="center">SC</td>
                    <td colspan="1" align="center">ST</td>
                    <td colspan="1" align="center">EWS*</td>
                    <td colspan="1" align="center">TOTAL</td>
                </tr>
                <tr>
                    <td colspan="3">No. of vacancies </td>
                    <td colspan="1" align="center">@Model.UR</td>
                    <td colspan="1" align="center">@Model.OBC</td>
                    <td colspan="1" align="center">@Model.SC</td>
                    <td colspan="1" align="center"><@Model.ST</td>
                    <td colspan="1" align="center">@Model.EWS</td>
                    <td colspan="1" align="center">@Model.TOTAL</td>
                </tr>
                <tr>
                    <td colspan="9"><b>*In accordance with DOP&T’s OM No. 36039/1/2019-Estt.(Res.) dated 19.01.2019</b></td>
                </tr>
                <tr>
                    <td rowspan="7">(b)</td>
                    <td colspan="10">Whether the post is identified suitable for PwD Candidates : Yes / No<br /> If Yes, the following information regarding type of disability to be filled:- </td>
                </tr>
                <tr>
                    <td colspan="3"><b>Type of Disability</b></td>
                    <td colspan="1"><b>Category of Disability</b></td>
                    <td colspan="1"><b>Suitable for PwD</b> </td>
                    <td colspan="4"><b>Permissible disability**</b></td>
                </tr>
                <tr>
                    <td colspan="3">(i) Blindness and low vision </td>
                    <td colspan="1">VH</td>
                    <td colspan="1">YES/NO</td>
                    <td colspan="4">@Model.disability_type</td>
                </tr>
                <tr>
                    <td colspan="3">(ii) Deaf and hard of hearing</td>
                    <td colspan="1">HH</td>
                    <td colspan="1">YES/NO</td>
                    <td colspan="4">@Model.person_disabilities</td>
                </tr>
                <tr>
                    <td colspan="3">(iii) Locomotor disability including cerebral palsy, leprosy cured, dwarfism, acid attack victims and muscular dystrophy </td>
                    <td colspan="1">OH</td>
                    <td colspan="1">YES/NO</td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="3">(iv) Autism, intellectual disability, specific learning disability and mental illness </td>
                    <td rowspan="2" width="100px">Others</td>
                    <td rowspan="2" width="100px">YES/NO</td>

                </tr>
                <tr>
                    <td colspan="3">(v) Multiple disabilities from amongst persons under clauses (i) to (iv) above including deaf, blindness</td>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="10">**Permissible disabilities i.e. One Arm affected, One Leg affected, Both Legs affected, One Arm & One Leg affected, Both Arms affected, Low Vision, Blind etc. to be mentioned</td>
                </tr>
                <tr>
                    <td rowspan="7">(c)</td>
                    <td colspan="9"><b>Horizontal Reservation (Refer DOP&T O.M. No. 36035/02/2017-Estt.(Res.)dt.15.01.2018)</b></td>
                </tr>
                <tr>
                    <td colspan="9">Out of the total number of vacancies shown above in Col. 5(a), the number of vacancies reserved for Persons with Disabilities (PwD):-</td>
                </tr>
                <tr>
                    <td colspan="2"><b>VH</b></td>
                    <td colspan="7">@Model.VH</td>
                </tr>
                <tr>
                    <td colspan="2"><b>HH</b></td>
                    <td colspan="7">@Model.HH</td>
                </tr>
                <tr>
                    <td colspan="2"><b>OH</b></td>
                    <td colspan="7">@Model.OH</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Others</b></td>
                    <td colspan="7">@Model.OTHERS</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Total</b> vacancies reserved for Persons with Disabilities (PwD)</td>
                    <td colspan="7">@Model.TOTAL</td>
                </tr>
                <tr>
                    <td colspan="1">(c)(i)</td>
                    <td colspan="3">Out of Total reserved PwD vacancies in 5(c) above, number of vacancies which may be filled through non-PwD candidates in the event of not finding candidates from earmarked PwD category: </td>
                </tr>
                <tr>
                    <td rowspan="2">(c)(ii)</td>
                    <td rowspan="2">Out of Total PwD vacancies as mentioned in 5(c) above, number of vacancies and corresponding Vertical category which should be left unfilled in the event of not finding candidates from earmarked PwD category: </td>
                    <td colspan="3" align="center">@Model.pwd_number</td>
                    <td colspan="5" align="center">@Model.pwdvertical_category</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                <tr>

                    <td colspan="1">(d)</td>
                    <td colspan="1">Out of the total vacancies shown above in col. 5(a), vacancies reserved for ExServiceman (ESM)</td>
                    <td colspan="8" style="padding:30px">@Model.totalesm_number</td>
                </tr>
                <tr>
                    <td rowspan="2">(d)(i)</td>
                    <td rowspan="2">Out of Total ESM vacancies as mentioned in 5(d) above, number of vacancies and corresponding Vertical category which should be left unfilled in the event of not finding candidates from earmarked ESM category: </td>
                    <td colspan="3" align="center">@Model.esm_number</td>
                    <td colspan="5" align="center">@Model.esmvertical_category</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th colspan="1">6.</th>
                    <td colspan="2">Period of probation</td>
                    <td colspan="8">@Model.probation1</td>
                </tr>
                <tr>
                    <th rowspan="4">7.</th>
                    <td colspan="10">Qualification as laid down in the notified Recruitment Rules including any relaxation:</td>
                </tr>
                <tr>
                    <td colspan="1">(a)</td>
                    <td colspan="2">Essential</td>
                    <td colspan="7">@Model.Essential</td>
                </tr>
                <tr>
                    <td colspan="1">(b)</td>
                    <td colspan="2">Desirable (Please indicate ‘NIL’ if not specified in the Recruitment Rules) </td>
                    <td colspan="7">@Model.Desirable</td>
                </tr>
                <tr>
                    <td colspan="1">(c)</td>
                    <td colspan="2">Relaxation, if any</td>
                    <td colspan="7">@Model.Relaxation</td>
                </tr>
                <tr>
                    <th colspan="1">8</th>
                    <td colspan="3">
                        Whether Indenting Department has furnished any clarification on EQ/Eligibility/Experience to any of the Regional Office(s) of SSC.<br /> If yes, please attach the said copies of correspondence with the requisite clarification
                    </td>
                    <td colspan="7">@Model.Regional_office</td>
                </tr>
                <tr>
                    <th rowspan="2">9</th>
                    <td colspan="3">Age Limits as per Recruitment Rules :-</td>
                    <td colspan="7">@Model.Age_limit</td>
                </tr>
                <tr>
                    <td colspan="10">
                        (Note: As regards age relaxation, attention is invited to <b>
                            DoP&T O.M.No.15012/2/2010-Estt.(D) dated
                            the 27th March, 2012
                        </b>read with the <b>DoP&T O.M. No. 43019/28/86-Estt.(D) dated 01.02.1999</b>
                    </td>
                </tr>
                <tr>
                    <th colspan="1">10</th>
                    <td colspan="2"> Any other requirements or conditions not covered by the above columns</td>
                    <td colspan="8">@Model.Requirment</td>
                </tr>
                <tr>
                    <th rowspan="5">11.</th>
                    <td rowspan="5"> Name, address & Tel.  No. of the Officer (not below the rank of Under Secretary or equivalent of the Ministry/Deptt.) who shall be deputed/ contacted to assist SSC, when required </td>
                    <td colspan="1">a.</td>
                    <td colspan="2">Name:</td>
                    <td colspan="8">@Model.Name</td>
                </tr>
                <tr>
                    <td colspan="1">b.</td>
                    <td colspan="2">Designation:</td>
                    <td colspan="8">@Model.Desigantion</td>
                </tr>
                <tr>
                    <td colspan="1">c.</td>
                    <td colspan="2">Address:</td>
                    <td colspan="8">@Model.Address</td>
                </tr>
                <tr>
                    <td colspan="1">d.</td>
                    <td colspan="2">Tel.No/Mobile No:</td>
                    <td colspan="8">@Model.Mobile_no</td>
                </tr>
                <tr>
                    <td colspan="1">e.</td>
                    <td colspan="2">E-mail:</td>
                    <td colspan="8">@Model.Email</td>
                </tr>
                <tr>
                    <th colspan="1">12</th>
                    <td colspan="2"> Whether the captioned post(s) has/have been exempted from ban orders imposed by the M/o Finance vide their O.M. Nos.F.7 (1)-E(Coord.)/84, dated 03.01.1984 and F.7(3)/6/E. Coord/99, dated 05.08.1999 or any subsequent orders. </td>
                    <td colspan="8">@Model.subsequent_orders</td>
                </tr>
                <tr>
                    <th colspan="1">13</th>
                    <td colspan="2">Whether a ‘No Objection Certificate’ from Division of Retraining and Redeployment of the DOPT has been obtained in accordance with the CCS (Redeployment of Surplus Staff) Rules, 1990 notified vide DOPT Notification No.1/14/89- CS.III dated 28.02.1990 and DOPT letter No. 1/5/2000-CS.III, dated 10.11.2000 or any subsequent orders? Copy to be enclosed.</td>
                    <td colspan="8">@Model.DOPT_letter</td>
                </tr>
                <tr>
                    <th colspan="1">14</th>
                    <td colspan="2">Whether the number of vacancies reserved for SC, ST, OBC & EWS as mentioned in Column 5(a) above, is in accordance with the reservation quota fixed for these Categories as per DOPT O.M. No.36012/2/96-Estt.(Res.), dated 02.07.1997 and DOPT O.M. No.36012/5/97-Estt.Vol.II, dated 20.07.2000 & DoP&T O.M. No. 36039/1/2019- Estt.(Res.) dated 19/01/2019 or any subsequent orders?</td>
                    <td colspan="8">@Model.no_ofvacancy</td>
                </tr>
                <tr>
                    <th colspan="1">15</th>
                    <td colspan="2"> Whether the vacancies for PwD and ESM have been worked out with reference to DOPT O.M. No. 36035/02/2017-Estt.(Res.), dated 15.01.2018 and 36034/1/2014-Estt.(Res.), dated 14.08.2014 respectively or any subsequent orders? </td>
                    <td colspan="8">@Model.pwd_esm</td>
                </tr>
                <tr>
                    <th colspan="1">16</th>
                    <td colspan="2"> Whether the provisions of ‘The Rights of Persons with Disabilities Act, 2016’ are complied with? </td>
                    <td colspan="8">@Model.person_disabilities</td>
                </tr>
                <tr>
                    <th colspan="1">17</th>
                    <td colspan="2"> Letter No. and date of the Previous requisition for the same post (along with category-wise break-up of the number of vacancies) placed with the SSC by your office. </td>
                    <td colspan="8">@Model.letter_no</td>
                </tr>
                <tr>
                    <th colspan="1">18</th>
                    <td colspan="2"> Letter No. and date by which nomination has been made earlier by SSC to your office for the same Post and No. of vacancies filled by your Office/Deptt. </td>
                    <td colspan="8">@Model.office_department</td>
                </tr>
                <tr>
                    <th rowspan="5">19</th>
                    <td colspan="10">It is certified that:</td>
                </tr>
                <tr>
                    <td colspan="1">a.</td>
                    <td colspan="9">The information furnished against the above mentioned columns are correct and based on the records available with the office; </td>
                </tr>
                <tr>
                    <td colspan="1">b.</td>
                    <td colspan="9"> All vacancies projected in this requisition are regular and fall under the direct recruitment quota as per Recruitment Rules. Necessary sanction of the competent authority in the government for these posts has been obtained; </td>
                </tr>
                <tr>
                    <td colspan="1">c.</td>
                    <td colspan="9">Age relaxation is in accordance with latest instructions of DOP&T.</td>
                </tr>
                <tr>
                    <td colspan="1">d.</td>
                    <td colspan="9">Candidates nominated by the SSC against the vacancies reported in this requisition shall be given appointment by this office within three months from the date of nomination. </td>
                </tr>
            </table>
        </div>
        <div class="content">
            <div class="add">
                <p>Place:&nbsp;............................</p>
                <p>Date:&nbsp;.............................</p>
            </div>
            <div class="add1" style="padding-right:5px;">
                <p>Signature and Official Seal of the Officer authorized to send this requisition</p>
                <p>a. Name:&nbsp; ................................................................................</p>
                <p>b. Designation:&nbsp; ......................................................................</p>
                <p>c. Address:&nbsp; ............................................................................</p>
                <p>&nbsp; &nbsp;.............................................................................................</p>
                <p>d. Tel/Fax. No.&nbsp;........................................................................</p>
                <p>e. E-mail:&nbsp;................................................................................</p>
            </div>
        </div>
        <div class="content" style="clear:both;">
            <hr />

            <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-I</b></u></h3>
            <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
            <h2 style="text-align:center">Department of ____________________________________________</h2>
            <h2 style="text-align:center">Ministry of _______________________________________________</h2>
            <h3 class="add">F.No ____________________</h3>
            <h3 class="add1" style="text-align:right;">Date ____________________</h3>
        </div>
        <div class="content">
            <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
            <p>
                This is to certify that the Recruitment Rules (RRs) for the post of
                ................................................. have been notified vide GSR No. ........................ dated
                ................................. (Bilingual Copies of the notified RRs are also enclosed
                herewith). The Age-limit as mentioned in the RRs is .................. years and the
                relaxation in upper Age-limit shall be available as per DoP&T O.M. No.
                15012/2/2010-Estt.(D) dated the 27th March, 2012 read with the DoP&T O.M. No.
                43019/28/86-Estt.(D) dated 1.2.1999 or any subsequent orders.
            </p>
            <br />
            <br />
            <p>2. The Essential Qualification attached to the post as per RRs are:-</p>
            <table>
                <tr>
                    <td style="height:110px"></td>
                </tr>
                <tr>
                    <td style="height:110px">Skill Test/PET/PST/Medical Test/Typing Test, etc.(If applicable)</td>
                </tr>
            </table>
            <p>3. The laid down Duties and Responsibilities attached to the post are:-</p>
            <table>
                <tr>
                    <td style="height:150px"></td>
                </tr>
            </table>
            <div class="">
                <div class="add">
                    <p>Official Seal</p><br /><br />
                    <p><b>Encl.: RRs</b></p><br /><br />
                    <p>Place :</p>
                    <p>Date :</p>
                </div>
                <div class="add1" style="padding-right:5px;">
                    <p>Signature of Head of Department/Head of Office  :</p><br /><br />
                    <p>Name        :&nbsp; ..........................................................</p>
                    <p>Designation :&nbsp; .................................................</p>
                    <p>Telephonic No.&nbsp;...............................................</p>
                    <p>E-mail       :&nbsp;...........................................................</p>
                </div>
            </div>
        </div>
        <div class="content" style="clear:both;">
            <hr />

            <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-II</b></u></h3>
            <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
            <h2 style="text-align:center">Department of ____________________________________________</h2>
            <h2 style="text-align:center">Ministry of _______________________________________________</h2>
            <h3 class="add">F.No ____________________</h3>
            <h3 class="add1" style="text-align:right;">Date ____________________</h3>
        </div>
        <div class="content">
            <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
            <p>
                It is certified that the provisions of the ‘THE RIGHTS OF PERSONS WITH
                DISABILITIES ACT, 2016’* which has become effective from 19th day of April, 2017 and
                the policy relating to reservation for persons with benchmark disabilities has been taken care
                of while sending this requisition. The vacancy(ies) reported in this requisition fall(s) at points
                No(s)……………. of Cycle No. of 100 point reservation roster out of which, ……….
                number of vacancy(ies) is/are reserved for persons with benchmark disabilities."
            </p>
            <br />
            <br />
            <p>
                2. It is also certified that the post of ........................................ which is identified SUITABLE/NOT-SUITABLE for persons with Disabilities (PwD) with following Disabilities:-
            </p>
            <table>
                <tr>
                    <td style="height:110px" align="center" colspan="3">Type of Disability</td>
                    <td style="height:110px" colspan="3">Category of Disability </td>
                    <td style="height:110px" colspan="3">
                        Disability permissible/suitable for jobs attached to the post (i.e. One Arm affected, One Leg affected, Both Legs affected, One Arm & One Leg affected, Both Arms affected, Low Vision, Blind etc.)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">(i) Blindness and low vision </td>
                    <td colspan="3">VH</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="3">(ii) Deaf and hard of hearing</td>
                    <td colspan="3">HH</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="3">(iii) Locomotor disability including cerebral palsy, leprosy cured, dwarfism, acid attack victims and muscular dystrophy</td>
                    <td colspan="3">OH</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="3">(iv) Autism, intellectual disability, specific learning disability and mental illness</td>
                    <td rowspan="2">Others</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="3">(v) Multiple disabilities from amongst persons under clauses (i) to (iv) above including deaf, blindness </td>
                    <td colspan="3"></td>
                </tr>

            </table>
            <div class="">
                <div class="add">
                    <p>Official Seal</p><br /><br />
                    <p>Place :</p>
                    <p>Date :</p>
                </div>
                <div class="add1" style="padding-right:5px;">
                    <p>Signature of Head of Department/Head of Office  :</p><br /><br />
                    <p>Name        :&nbsp; ..........................................................</p>
                    <p>Designation :&nbsp; .................................................</p>
                    <p>Telephonic No.&nbsp;...............................................</p>
                    <p>E-mail       :&nbsp;...........................................................</p>
                </div>
            </div>
        </div>

        <p style="clear:both; text-align:center;"><b>*Please refer para 10 of DoP&T O.M. No. 36035/02/2017-Estt.(Res.) dated 15.01.2018.</b></p>

        <div class="content">
            <hr />

            <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-III</b></u></h3>
            <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
            <h2 style="text-align:center">Department of ____________________________________________</h2>
            <h2 style="text-align:center">Ministry of _______________________________________________</h2>
            <h3 class="add">F.No ____________________</h3>
            <h3 class="add1" style="text-align:right;">Date ____________________</h3>
        </div>
        <div class="content">
            <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
            <p>
                I have personally checked and ensured the correctness of all information given in the Requisition Form for the post of _____________________________.
            </p>
            <br />
            <br />
            <p>2. It is also certified that the provisions of para 2.5 of the O.M. No. 7(2)/E.Coord/2013 dated 18.09.2013 or any subsequent orders, of Ministry of Finance, Department of Expenditure, have been taken into account while submitting the requisition.</p>
            <div class="">
                <div class="add">
                    <p>Official Seal</p><br /><br />
                    <p>Place :</p>
                    <p>Date :</p>
                </div>
                <div class="add1" style="padding-right:5px;">
                    <p>Signature of Head of Department/Head of Office  :</p><br /><br />
                    <p>Name        :&nbsp; ..........................................................</p>
                    <p>Designation :&nbsp; .................................................</p>
                    <p>Telephonic No.&nbsp;...............................................</p>
                    <p>E-mail       :&nbsp;...........................................................</p>
                </div>
            </div>
        </div>
        <div class="content" style="clear:both;">
            <hr />

            <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-IV</b></u></h3>
            <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
            <h2 style="text-align:center">Department of ____________________________________________</h2>
            <h2 style="text-align:center">Ministry of _______________________________________________</h2>
            <h3 class="add">F.No ____________________</h3>
            <h3 class="add1" style="text-align:right;">Date ____________________</h3>
        </div>
        <div class="content">
            <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
            <h1 style="text-align:center;">
                <b>(As per Procedure of recruitment under Selection Posts)</b>
            </h1>
            <ol>
                <li><p>This Office undertakes to depute an officer of at least the rank of Under Secretary or equivalent in the Central Government, for Scrutiny of documents of candidates before finalisation of results. </p></li>

                <li><p>The Ministry/Department shall also ensure the uniformity in respect of EQ i.e. Essential Qualification & Experience for the same Post(s) requisitioned across all Regions. </p></li>

                <li><p> The deputed officer is authorised by the organization to certify the admissibility of documents w.r.t educational qualifications and experience as required under the Recruitment Rules for the requisitioned post(s), which shall be treated as final. </p></li>

                <li><p>The interpretation of the deputed Officer of this Ministry/Department regarding the Essential Qualification(s)/Experience for the requisitioned post(s) shall be final and shall also be treated as uniform for identical cases of candidatesfor the same post across all Regional / Sub-Regional Offices of the Commission.</p></li>
                <li>
                    <p>Staff Selection Commission shall not allow any relaxation in EQ/Experience required for the requisitioned Post(s) and the decision of the Indenting Ministry/Department shall be final.</p>
                </li>
            </ol>

            <div class="">
                <div class="add">
                    <p>Official Seal</p><br /><br />
                    <p>Place :</p>
                    <p>Date :</p>
                </div>
                <div class="add1" style="padding-right:5px;">
                    <p>Signature of Head of Department/Head of Office  :</p><br /><br />
                    <p>Name        :&nbsp; ..........................................................</p>
                    <p>Designation :&nbsp; .................................................</p>
                    <p>Telephonic No.&nbsp;...............................................</p>
                    <p>E-mail       :&nbsp;...........................................................</p>
                </div>
            </div>
        </div>
        <div class="content" style="clear:both;">
            <hr />

            <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-V</b></u></h3>
            <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
            <h2 style="text-align:center">Department of ____________________________________________</h2>
            <h2 style="text-align:center">Ministry of _______________________________________________</h2>
            <h3 class="add">F.No ____________________</h3>
            <h3 class="add1" style="text-align:right;">Date ____________________</h3>
        </div>
        <div class="content">
            <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
            <p>
                It is certified that the vacancies reported under the Requisition Proforma by this Office/Organization shall not be withdrawn. Neither the number nor the category-wise break-up of vacancies shall be altered. In the event of any unprecedented / exigent circumstances wherein there is a withdrawal of vacancies or alteration in the category-wise break-up of vacancies by this Ministry / Department, this Ministry / Department shall take full responsibility to accommodate the nominated candidates so recruited in compliance with its requisition.
            </p>

            <div class="">
                <div class="add">
                    <p>Official Seal</p><br /><br />
                    <p>Place :</p>
                    <p>Date :</p>
                </div>
                <div class="add1" style="padding-right:5px;">
                    <p>Signature of Head of Department/Head of Office  :</p><br /><br />
                    <p>Name        :&nbsp; ..........................................................</p>
                    <p>Designation :&nbsp; .................................................</p>
                    <p>Telephonic No.&nbsp;...............................................</p>
                    <p>E-mail       :&nbsp;...........................................................</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
