@model ssc.Models.DBModel
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;

}
@*=================================================Main
Code=========================================================================*@
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@*=================================================Main
Code=========================================================================*@
<html>

<head>
</head>

<body>
    @*=================================================Header=========================================================================*@
    <form asp-action="CandidateSheet" asp-controller="DB">
        <div class="br-pagebody">
            <div class="br-section-wrapper">
                <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
                    <img src="~/img/logo.jpg" /><br />
                    <h5 class="fw-bold" style="color:black">STAFF SELECTION COMMISSION</h5>
                    <p style="color:black"><b><u>Combined Higher Secondary (10+2) Level Examination . 2021</u></b></p>
                    <h5 style="color:black">ONLINE DATA VERIFICATION SHEET</h5>
                    @*======================================Table area==============================*@
                    <div class="container mt-3 mr-3 mf-3">
                        <div class="table-responsive">
                            @*==============================================first Table=======================================*@
                            <table class="table table-bordered">

                                <tbody>
                                    <tr>
                                        <td width="10px">1.1</td>
                                        <td width="100%">Roll no.</td>
                                        <td><span style="border:none" asp-for="@Model.Reg_no" ></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.2</td>
                                        <td width="100%">Name.</td>
                                        <td><span style="border:none" asp-for="@Model.Name" ></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.3</td>
                                        <td width="100%">Remarks with respect to the Candidate Name</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Candidate_remark"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.4</td>
                                        <td width="100%">Father name</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Father_name"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.5</td>
                                        <td width="100%">Remarks with respect to the Father name .</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.father_remark"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.6</td>
                                        <td width="100%">Mother name</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Mother_name"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.7</td>
                                        <td width="100%">Remarks with respect to the Mother Name</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Mother_remark" ></span></td>
                                    <tr>
                                        <td width="10px">1.8</td>
                                        <td width="100%">
                                            Matriculation Roll No.
                                            ( As mentioned in the Application Form)
                                        </td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Matric_rollno"></span></td>
                                    <tr>
                                        <td width="10px">1.9</td>
                                        <td width="100%">Gender</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Gender" ></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.10</td>
                                        <td width="100%">Category(Cat 1)</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Category_cat1"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.11</td>
                                        <td width="100%">Reason for change in category , if any.</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Reason_changecategory"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12</td>
                                        <td width="100%">Whether EX-Serviceman(ESM)(Cat2)</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.ESM_cat2"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.1</td>
                                        <td width="100%">Date of joining the Armed Force</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.AF_joining"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.2</td>
                                        <td width="100%">Date of Discharge</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Date_discharge"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.3</td>
                                        <td width="100%">Length of Service.</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Lenght_service"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.4</td>
                                        <td width="100%">
                                            Have you joined a Government job on civil side (including public<br />
                                            Sector Undertaking , Autonomous Bodies /Statutory Bodies <br />
                                            Nationalized Bank etc.) on regular basis after availing of the benefits<br />
                                            of reservation given to ex-serviceman for reemployment
                                        </td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Gov_civilside"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.5</td>
                                        <td width="100%">Date of Joining of the Civil Post</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Civilpost_joining" ></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.6</td>
                                        <td width="100%">Date of submission of application form</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Formsubmission_date"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.7</td>
                                        <td width="100%">
                                            Have you submitted the self-declaration /undertaking to your current<br />
                                            employer that you have applied for this examination
                                        </td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Self_declaration"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.12.8</td>
                                        <td width="100%">
                                            Wheather eligible for the posts reserved for ESM (Depending on re-<br />
                                            employment in Govt./Semi-Govt organzation
                                            )
                                        </td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Reservedpost_ESM"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.13 And 1.14 </td>
                                        <td width="100%">Weather person with Disability (PwD)</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Persondisability_PWD"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.15 </td>
                                        <td width="100%">Region Code</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Region_Code"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.16</td>
                                        <td width="100%">Exemption from Typewriting Test</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.Typewriting_test"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.17</td>
                                        <td width="100%">DV schedule Date</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.DVschedule_date"></span></td>
                                    </tr>
                                    <tr>
                                        <td width="10px">1.17</td>
                                        <td width="100%">DV Actual Date</td>
                                        <td><span style="border:none;background-color:#FFF" asp-for="@Model.DVactual_date"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            @*============================Second Table=========================*@

                            <table class="table table-bordered m-3">
                                <tbody>
                                    <tr>
                                        <td colspan="6" style="text-align: center;"><b>PART - II (Education Details)</b></td>
                                    </tr>
                                    <tr>
                                        <td width="20px" colspan="3">2.1 Highest Education Qualification(As declared by the candidate)</td>
                                        <td colspan="3"><span style="border:none;background-color:#FFF" asp-for="@Model.highest_qualification"></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">2.2 Qualifying Education Qualification</td>
                                        <td colspan="3"><span style="border:none;background-color:#FFF" asp-for="@Model.Qualifying_education"></span></td>
                                    </tr>
                                    <tr>
                                        <td>State/UT of <br /> Board/University</td>
                                        <td>Name of Board/University</td>
                                        <td>Subject/Branch</td>
                                        <td>Roll No</td>
                                        <td>Year of passing </td>
                                        <td>percentage</td>
                                        <td>CGPA</td>
                                    </tr>
                                    <tr>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.University"  ></span></td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Nameof_board"></span></td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Subjects"  ></span></td>
                                        <td> <span style="border:none;background-color:#FFF"  asp-for="@Model.Rollno_highestqualification" ></span></td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Passing_Year" ></span></td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Percentage" ></span></td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.CGPA" ></span></td>

                                    </tr>
                                </tbody>
                            </table>
                            @*==========================================three table======================================================*@
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align: center;"><b>PART - III (Details of Option Form)</b></td>
                                    </tr>
                                    <tr>
                                        <td>3.1 Code for Eligible Post</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Eligiblepost_code"></span></td>
                                    </tr>
                                    <tr>
                                        <td>3.2 Order of preference</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Order_prefrence" ></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            @*==========================================forth table===============================================================*@

                            <table class="table table-bordered">
                                <tbody>


                                    <tr>
                                        <td colspan="2" style="text-align: center;"><b>PART - IV (Date of Birth)</b></td>
                                    </tr>
                                    <tr>
                                        <td>4.1 Post Prefrence</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Post_prefrence" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>4.2 Date of Birth(dd/mm/yyyy)</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.DOB" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>4.3 Age(as on 01.01.2022)</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.AGE" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>4.4 Age Relaxation Code</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Relaxation_age" ></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><b>PART - V (DOCUMENT CHECKING WITH APPLICATION)</b></p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><b>PARTICULARS</b></td>
                                        <td style="text-align: center;"><b>OPTION</b></td>
                                        <td style="text-align: center;"><b>Date of ISSUE</b></td>

                                    </tr>
                                    <tr>
                                        <td>
                                            5.1 Whether Approved by Distance Education Bureau ,UGC in<br />
                                            case of education through Distance Mode
                                        </td>
                                        <td width="10px"><span width="10px" style="border:none" ></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.Distance_education" style="border:none" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>5.2 Whether document in support of DOB produced</td>
                                        <td width="10px"><span width="10px" style="border:none" ></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.Document_DOB" style="border:none"></span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5.3 Whether possesses Essential Qualification within the</br>
                                            stipulated date
                                        </td>
                                        <td width="10px"><span width="10px" style="border:none"></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.Essential_qualification" style="border:none" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>5.4 Whether document in support of caste produced</td>
                                        <td width="10px"><span width="10px" style="border:none" ></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.Document_caste" style="border:none" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5.5 Whether OBC certificate issued from the component<br />
                                            authority in prescribed proforma produced
                                        </td>
                                        <td width="10px"><span width="10px" style="border:none" ></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.OBC_certificate" style="border:none" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5.6 Whether ESM discharge certified issued within the <br />
                                            stipulated date and whether submitted undertaking
                                        </td>
                                        <td width="10px"><span width="10px" style="border:none" ></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.ESMdischarge_certificate" style="border:none" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5.7 Wherther PwD Status as claimed by the candidate<br />
                                            estabish from the certified produced
                                        </td>
                                        <td width="10px"><span width="10px" style="border:none" ></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.PWD_status" style="border:none" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5.8 Whether NOC produced in case of Central Govt.Civilian<br />
                                            Employee candidates who have claimed age-relaxation
                                        </td>
                                        <td width="10px"><span width="10px" style="border:none" ></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.NOCproduced_Central" style="border:none" ></span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5.9 Whether central Govt.Civilian employee status<br />
                                            establis
                                        </td>
                                        <td width="10px"><span width="10px" style="border:none" ></span></td>
                                        <td width="10px"><span width="10px" asp-for="@Model.Civilianemployee_status" style="border:none"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align: center;"><b>PART - VI (Rejection Provision)</b></td>
                                    </tr>
                                    <tr>
                                        <td>6.1 Candidate Status</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Candidature_status"></span></td>
                                    </tr>
                                    <tr>
                                        <td>6.2 Reason for Rejection</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Reject_reason"></span></td>
                                    </tr>
                                    <tr>
                                        <td>6.3 Remark</td>
                                        <td> <span style="border:none;background-color:#FFF" asp-for="@Model.Remarks"></span></td>
                                    </tr>
                                </tbody>

                            </table>
                            <div style="display:flex;justify-content: space-evenly;">
                                <b style="margin-top:100px;">Photo</b>
                                <span style="border: 1px solid black">
                                    <img src="~/img/avatar.jpeg" height="200px" width="200px" />
                                </span>
                                <b style="margin-top:100px;">Thumb Impression</b>
                                <span style="border: 1px solid black">
                                    <img src="~/img/thumbJPG.jpeg" height="200px" width="200px" />
                                </span>
                                <b style="margin-top:100px;">Signature</b>
                                <span style="border: 1px solid black">
                                    <img src="~/img/sign.png" height="100px" width="200px" />
                                </span>
                            </div>
                            <div style="display:flex;justify-content: space-evenly; margin-top:50px;">
                                <b style="margin-top:100px;">Application Photo</b>
                                <span style="border: 1px solid black; padding:100px">

                                </span>
                                <b style="margin-top:100px;">Application Signature</b>
                                <span style="border: 1px solid black;padding:100px">

                                </span>
                            </div>
                            <div style="margin-top:30px;margin-bottom:10px;text-align:left">
                                The paticular as mentioned here in above regarding my candiature have been checked by me and found to
                                be correct. Preferences for posts/departments as shown above have been exerised by me consciously and
                                carefully and the same are to be treated as final. I also understand that request for any change in the
                                above particular including preferences would not be entertained by the Commission.
                            </div>
                            <div style="display:flex;justify-content: space-evenly;">


                                <b style="margin-top:30px;">
                                    Signature OF <br />Candidate
                                </b>
                                <span style="border: 1px solid black;width:250px;height:50px;margin-top:20px;">

                                </span>

                                <b style="margin-top:30px;">
                                    Signature OF <br />Document Checker
                                </b>
                                <span style="border: 1px solid black;width:250px;height:50px;margin-top:20px;">

                                </span>
                            </div>
                            <div style="display:flex;justify-content: left;">
                                <b style="margin-top:50px;">
                                    Name OF Candidate
                                </b>
                                <span style="width:250px;height:50px;margin-top:20px;">

                                </span>
                            </div>
                            <div style="display:flex;justify-content: space-evenly;">


                                <b style="margin-top:40px;">
                                    DATED:
                                </b>
                                <span style="width:250px;height:50px;margin-top:20px;">

                                </span>

                                <b style="margin-top:30px;">
                                    Signature of Authorised<br />
                                    Officer of SSC
                                </b>
                                <span style="border: 1px solid black;width:250px;height:50px;margin-top:20px;">

                                </span>
                            </div>
                            <div style="display:flex;justify-content: right;margin-right:95px">
                                <b style="margin-top:50px;margin-right:70px;">
                                    (Name of Officer)
                                </b>
                                <span style="border: 1px solid black;width:250px;height:50px;margin-top:20px;">

                                </span>
                            </div>
                        </div>
                        <div style="padding:30px">
                            <button style="padding:10px" type="submit" id="popup-btn" class="btn btn-red">
                                Apply
                            </button>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div>


                    @*==============================================Main css============================================*@

                </div>
            </div>
        </div>
    </form>
</body>

</html>
@*===============Script to print html=============*@

<script>
    function printpage() {
        window.print();
    }
</script>